@media only screen and (max-width: 417px) {
    .desktop{
        display: none;
    }
}

@media only screen and (min-width: 418px) {
    .mobile{
        display: none;
    }
}

@media only screen and (min-width: 48rem) {
    .menu {
        position: relative;
        top: 0;
        width: auto;
        height: auto;
        padding: 0rem;
        margin-left: auto;
        background: none;
        box-shadow: none;
    }

    .menu-inner {
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
        margin: 0 auto;
    }

    .menu-link {
        text-transform: capitalize;
    }

    .menu-block {
        margin-left: 2rem;
    }
}

@media only screen and (min-width: 48rem) {
    .burger {
        display: none;
        visibility: hidden;
    }
}

@media only screen and (min-width: 48rem) {
    .banner-column {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-content: center;
    }
}

@media only screen and (min-width: 64rem) {
    .banner-column {
        grid-template-columns: 1fr max-content;
        column-gap: 4rem;
        margin-top: 3rem;
    }
}


@media only screen and (min-width: 48rem) {
    .banner-image {
        order: 1;
        max-width: 20rem;
        height: auto;
    }
}

@media only screen and (min-width: 64rem) {
    .banner-image {
        max-width: 25rem;
        height: auto;
        margin-right: 5rem;
    }
}


@media only screen and (min-width: 64rem) {
    .banner-links {
        opacity: 1;
        visibility: visible;
    }
}